<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <title>Libro - Library Management </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!--browser tab icon-->
  <link rel = "icon" href ="{%static 'images/icon.jpg' %}" type = "image/x-icon">
  <!--css connection-->
  <!--<link rel= "stylesheet" href="{% static 'css/homepage.css' %}">-->
  <title>Libro - Library Management</title>
</head>
<style>
  li a:hover:not(.active) {
    background-color: rgb(248, 182, 193);
  }
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(70, 82, 94);
    color: white;
    text-align: center;
 }
body{
    background-color: aliceblue;
}
#img2{
    margin-left: 35%;
}

</style>
<body>

<!--navbar start-->
<div class="container-flex">
  <nav class="navbar navbar-expand-lg navbar-light bg-danger fixed-top  scrolled" id="nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'stuhomepg' %}" style="color: aliceblue;"><b>Home</b> <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'viewbookes' %}"  style="color: aliceblue;"><b>View Issue Book</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'details' %}"  style="color: aliceblue;"><b>Add Your Details</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"  style="color: aliceblue;"><b>Logout</b></a>
                  </li>
           
              </ul>
          </div>
          <a class="navbar-brand ml-auto" href="#" style="color: white;"><b>Libro</b></a>
  </nav>
</div><br><br><br><br>
<!--navbar end-->


<!--divide 2 col-->
<div class="container">
    <div class="row">
        <div class="col-lg-6" style="background-color: rgb(255, 225, 230);"><br><br><br>
            <h3 style="text-align: center; color: crimson;">Meluha</h3><br>
            <img class="img-fluid" src="{%static 'images/book3_mel.jpg' %}" alt="img" width="200" height="30" id="img2"><br><br>
            <a href="{% url 'stuhomepg' %}" class="btn btn-info" role="button" style="margin-left: 40%;" >Back To Home</a>
        </div>
        <div class="col-lg-6" style="background-color: rgb(248, 233, 236);"><br><br><br>
            <h5 style="text-align: center;">Short Summary</h5><br>
            
            <P style="text-align: center;">The Immortals of Meluha ignites your imagination, with Shiva. A tribal leader arriving in the most civilized society of that time. But what guarantees a roller coaster ride is Shiva’s throat turning blue, on the very first day, that too under dramatic circumstances. Amish Tripathi has captured the essence of what an Indian reader would like pretty well.
                As Shiva’s throat turned blue, soon he became the ‘Great Neelkanth’ who according to a legend is a reincarnation of ‘Lord Rudra’ the ‘Mahadeva’ – their idol. But Amish Tripathi does not forget to keep his character grounded. Shiva from within, never forgets his real identity, a tribal leader. Although The Immortals of Meluha shows how the Suryavanshis want the Mahadev to help them defeat the Chandravanshis. But the Chandravanshis want Shiva to join their side against the Suryavanshis. However, the Mahadev has to look beyond the fights of the two clans and instead tackle a larger evil among them – all that threatens the very existence of humanity. Amish Tripathi leaves us wondering and interpreting about the good and evil. As the Mahadev learns, ‘the difference between two dissimilar ways of life gets portrayed as a fight between good and evil; just because someone is different doesn’t make them evil.”</P>
                <p style="text-align: center;">Series: Shiva Trilogy <br>
                    Author: Amisha Thripathy<br>
                    Published: February 2010<br>
                    Cover Artist: Rashmi Pusalkar</p>
        </div>
    </div>
</div>
<!--end 2 col divide-->

<!-- Footer -->
<div class="footer">
    <footer class="page-footer font-small blue-grey lighten-5">
      <div></div>
      <div class="container text-center text-md-left mt-5">
        <div class="row mt-4 dark-grey-text">
          <div class="col-md-4 col-lg-4 col-xl-4 mb-4">
            <h6 class="text-uppercase font-weight-bold" style="color: crimson;">ABOUT US</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p style="text-align: justify;">Libro-Library Management deals with process of developing, managing, and maintaining a library. Manage your personal library & virtual bookshelf easily with book organizer, the the ultimate website for students,book collectors or any book readers! Search your personal catalogue using authors,title books or any terms.Libro-Library Management simple and useful website.</p>
          </div>
          <!-- Grid column1 -->
          
          <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links 2-->
            <h6 class="text-uppercase font-weight-bold" style="color: crimson;">Category</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a class="dark-grey-text text-white" href="#!">Edu & Reference</a>
            </p>
            <p>
              <a class="dark-grey-text text-white" href="#!">Sci-Fiction & Fantacy</a>
            </p>
            <p>
              <a class="dark-grey-text text-white" href="#!">Biography</a>
            </p>
            <p>
              <a class="dark-grey-text text-white" href="#!">Computers & Tech</a>
            </p>
          </div>
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold" style="color: crimson;">Contact</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3"></i> Libro - Library Management</p>
            <p>
              <i class="fas fa-envelope mr-3"></i> info@librolibrary.com</p>
            <p>
              <i class="fas fa-phone mr-3"></i> +91 234 567 88</p>
            <p>
              <i class="fas fa-print mr-3"></i> +91 234 567 89</p>
          </div>
        </div>
    
      </div>
      <!-- Footer Links -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center text-white-50 py-3">© 2021 Copyright:
        <a  class="text-white" href="http://127.0.0.1:8000/"> LibroLibrary.com</a>
      </div>
      <!-- Copyright end-->
    </footer>
    <!-- Footer end -->
    </div>
</body>
</html>